/*****************************************************************
 * Infinity Push
 *****************************************************************/
.ma-infinitypush-open {
  display: block;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.ma-infinitypush-wrapper {
  background:rgba(0, 0, 0, .6);
  position: fixed;
  height: 100%;
  width:100%;
  z-index: 600;
  margin-top:50px;
  left:-1920px;transition: all 0.3s ease;
    -webkit-transform: all 0.3s ease; 
}
.ma-infinitypush-wrapper.on{ left:0px;transition: all 0.3s ease;
    -webkit-transform: all 0.3s ease; }
.ma-infinitypush-wrapper.ma-infinitypush-active-button{
  position: absolute;
   left:-255px !important;transition: all 0.3s ease;
    -webkit-transform: all 0.3s ease;
}
.ma-infinitypush-wrapper.ma-infinitypush-active-button.on{ left:0px !important;transition: all 0.3s ease;
    -webkit-transform: all 0.3s ease;}
.ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-left .ma-infinitypush-button {
  margin: 0 0 0 22px;
  right: -44px;
}
.ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button {
  margin: 0 22px 0 0;
  left: -44px;
}
.ma-infinitypush-wrapper .ma-infinitypush-button {
  display: block;
  box-shadow: inset 0 4px #3498db, inset 0 6px white, inset 0 9px #3498db, inset 0 11px white, inset 0 14px #3498db, inset 0 16px white;
  position: absolute;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  top: 13px;
  cursor: pointer;
  z-index: 100;
}
.ma-infinitypush-wrapper.ma-infinitypush-left .ma-infinitypush ul li ul, .ma-infinitypush-wrapper.ma-infinitypush-left .ma-infinitypush ul li ol, .ma-infinitypush-wrapper.ma-infinitypush-left .ma-infinitypush ol li ul, .ma-infinitypush-wrapper.ma-infinitypush-left .ma-infinitypush ol li ol {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.ma-infinitypush-wrapper.ma-infinitypush-right .ma-infinitypush ul li ul, .ma-infinitypush-wrapper.ma-infinitypush-right .ma-infinitypush ul li ol, .ma-infinitypush-wrapper.ma-infinitypush-right .ma-infinitypush ol li ul, .ma-infinitypush-wrapper.ma-infinitypush-right .ma-infinitypush ol li ol {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.ma-infinitypush-wrapper .ma-infinitypush {
  background:#000000;
  position: relative;
  height: 100%;
  width:250px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5000;
}
.ma-infinitypush-wrapper .ma-infinitypush ul, .ma-infinitypush-wrapper .ma-infinitypush ol {
  background-color: #e71e24;
  list-style-type: none;
  width: 250px;
  overflow-x: hidden;
}
.ma-infinitypush-wrapper .ma-infinitypush ul li, .ma-infinitypush-wrapper .ma-infinitypush ol li {
  height: 45px;
  width: 100%;
  background:#000000;
  line-height:45px;
}
.ma-infinitypush-wrapper .ma-infinitypush ul li a, .ma-infinitypush-wrapper .ma-infinitypush ol li a {
  color: #fff;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  height: 100%;
  margin: 0;
  overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.ma-infinitypush-wrapper .ma-infinitypush ul li ul, .ma-infinitypush-wrapper .ma-infinitypush ul li ol, .ma-infinitypush-wrapper .ma-infinitypush ol li ul, .ma-infinitypush-wrapper .ma-infinitypush ol li ol {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  background:#267bbc
  overflow-y: auto;
}
.ma-infinitypush-wrapper .ma-infinitypush ul li.ma-infinitypush-active-item, .ma-infinitypush-wrapper .ma-infinitypush ol li.ma-infinitypush-active-item {
  background-color: #800000;
}
.ma-infinitypush-wrapper .ma-infinitypush ul li.ma-infinitypush-active-item > a, .ma-infinitypush-wrapper .ma-infinitypush ol li.ma-infinitypush-active-item > a {
  color: #fff !important;
  text-decoration: none !important;
}
.ma-infinitypush-wrapper .ma-infinitypush.ma-infinitypush-sub-open {
  overflow-y: hidden;
}
.ma-infinitypush-wrapper .ma-infinitypush .ma-infinitypush-inactive {
  border-right: none !important;
  border-left: none !important;
  overflow-y: hidden !important;
}
.ma-infinitypush-wrapper .ma-infinitypush .ma-infinitypush-close-subnav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 100% !important;
  top: 0;
  left: 0;
  padding: 0 !important;
}